
<div id="owl-demo" class="owl-carousel">
  
    {% for i in (1..6) %}
      {% capture slide %}slide_{{ i }}{% endcapture %}
      {% capture slide_link %}slide_{{ i }}_link{% endcapture %}
      {% capture slide_img %}slide_{{ i }}_img.jpg{% endcapture %}
      {% capture slide_alt %}slide_{{ i }}_alt{% endcapture %}
      {% if settings[slide] %}
        <div class="item">
          <a href="{{ settings[slide_link] }}" class="slide-link">
            {{ slide_img | asset_img_url: '2400x1243' | img_tag: settings[slide_alt] }}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  
</div>

<div id="mobile-slider">
  <img src="//cdn.shopify.com/s/files/1/1063/9730/t/25/assets/mobile-slider.jpg?9330507531727845003">
</div>